@import './normalize.css';

*:before,
*:after {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Comfortaa', cursive;
    font-size: 20px;
    background-image: url('../assets/images/phone3test.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.container {
    margin: 0 auto;
    max-width: 1280px;
}

.header {
    background-color: rgba($color: white, $alpha: 0.4);
}

.nav {
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-size: 44px;
    margin: 0 20px;
    color: white;

    @media screen and (max-width: 840px) {
        font-size: 36px;
    }

    @media screen and (max-width: 479px) {
        font-size: 24px;
    }

    @media screen and (max-width: 419px) {
        justify-content: space-between;
    }

    .about {
        font-size: 28px;
    }

    .language {
        font-size: 44px;
        cursor: pointer;
        transition: 0.1s;

        &:hover {
            border-bottom: 3px solid black;
        }

        @media screen and (max-width: 639px) {
            font-size: 32px;
        }

        @media screen and (max-width: 479px) {
            font-size: 24px;
        }
    }

    .header__logo {
        margin-top: 10px;

        @media screen and (max-width: 639px) {
            width: 64px;
        }
    }
}

.main {
    flex-grow: 10;
}

.pagination {
    margin: 10px 0 0 0;
    display: grid;
    grid-template-columns: 1fr 1.6fr 0.7fr 1.3fr 1.6fr 1fr;
    grid-gap: 3px;

    @media screen and (max-width: 870px) {
        grid-template-columns: 1.5fr 1.9fr 0.8fr
    }

    /** TODO!!! 
    *   при достижении определенной ширины сделать 3 колонки 1fr 1fr 1fr
    */

    .list__item {
        height: 30px;
        // background-color: pink;
        color: white;
        font-weight: 500;
        border-radius: 15px;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 2px solid white;

        @media screen and (max-width: 639px) {
            font-size: 16px;
        }
    }
    .highlight {
        background-color: rgb(255, 254, 255, 0.7);
        border: 2px solid rgb(193, 34, 124);
    }
}

.question {
    background-color: rgb(255, 254, 255, 0.7);
    display: flex;
    border-radius: 10px;
    color: white;
    margin: 10px 20px;

    @media screen and (max-width: 440px) {
        margin: 10px 10px;
    }

    &__image {
        width: 175px;
        height: 175px;
        object-fit: cover;
        border-radius: 10px;
        margin: 20px 20px;
        border: none;

        @media screen and (max-width: 560px) {
            width: 133px;
            height: 133px;
        }

        @media screen and (max-width: 440px) {
            width: 133px;
            height: 133px;
            margin: 10px;
        }
    }

    &__about {
        margin: 0 0 0 20px;
        flex-grow: 1;
        max-width: 900px;

        @media screen and (max-width: 560px) {
            margin: 0;
        }

        &-name {
            font-size: 44px;
            margin: 30px 0 0 0;

            @media screen and (max-width: 900px) {
                font-size: 32px;
            }

            @media screen and (max-width: 560px) {
                font-size: 24px;
            }
        }
    }
}

.player {
    .add-wrapper {
        display: flex;
        align-items: center;
    }

    .btn {
        cursor: pointer;
    }

    .progress__container {
        margin: -5px 30px 0 10px;
        background-color: #E4E9ED;
        border-radius: 5px;
        width: 100%;
        height: 10px;
        display: flex;
        align-items: center;
        cursor: pointer;
        position: relative;

        @media screen and (max-width: 440px) {
            margin-right: 10px;
        }

        .progress {
            background-color: #2B3C5B;
            border-radius: 5px;
            height: 6px;
            // width: 160px;
        }

        .start-time {
            position: absolute;
            top: 15px;
            cursor: default;
        } 
        .end-time {
            position: absolute;
            right: 0;
            top: 15px;
            cursor: default;
        }

        @media screen and (max-width: 440px) {
            font-size: 16px;
        }
    }

    .volume__container {
        margin: 20px 0 0 -5px;
        display: flex;
        align-items: center;

        @media screen and (max-width: 560px) {
            margin: 0 0 0 -5px;
        }

        .volume__img {
            cursor: pointer;
        }

        .volume {
            cursor: pointer;
            -webkit-appearance: none;
            -moz-appearance: none;
            appearance: none;
            background: #E4E9ED;
            height: 10px;
            border-radius: 5px;
            // -webkit-transition: .2s;
            // transition: opacity .2s;

            @media screen and (max-width: 440px) {
                width: 100px;
            }
        }

        .volume::-webkit-slider-thumb {
            -webkit-appearance: none;
            -moz-appearance: none;
            appearance: none;
            width: 12px;
            height: 12px;
            background-color: #2B3C5B;
            border-radius: 6px;
            border: 1px solid #1c2847;
            cursor: pointer;
        }
    }
}

.game {
    display: flex;
    justify-content: space-evenly;
    margin: 0 20px;

    @media screen and (max-width: 700px) {
        flex-direction: column;
        align-items: center;
    }

    &__answers {
        // background-color: bisque;
        flex: 1 1 auto;
        max-width: 500px;

        .answers-list {
            margin: 0;
            padding: 0;
            border: 2px solid white;
            border-radius: 20px;
            overflow: hidden;
            min-width: 320px;

            @media screen and (max-width: 700px) {
                min-width: 500px;
            }

            @media screen and (max-width: 560px) {
                margin: 0 20px;
                min-width: 320px;
            }

            @media screen and (max-width: 380px) {
                min-width: 290px;
            }
        }

        .answers-list__item {
            list-style-type: none;
            cursor: pointer;
            font-size: 24px;
            margin: 5px 5px 0 5px;
            background-color: rgba(255, 255, 255, 0.7);
            color: white;
            padding: 5px 15px;
            border-radius: 20px;
            

            &:hover {
                background-color: rgba(255, 255, 255, 0.5);
            }

            &:before {
                content: '';
                height: 18px;
                width: 18px;
                border-radius: 50%;
                background-color: purple;
                display: inline-block;
                position: relative;
                right: 5px;
                transition: 0.3s;
            }

            @media screen and (max-width: 900px) {
                font-size: 18px;
            }
        }
        li:nth-last-child(1) {
            margin-bottom: 5px;
        }
        .error {
            text-decoration: line-through;

            &:before {
                background-color: rgb(255, 0, 0);
            }
        }

        .win {
            &:before {
                background-color: greenyellow;
            }
        }
    }

    &__description {
        // background-color: blanchedalmond;
        background-color: rgba(255, 254, 255, 0.7);
        color: white;
        flex: 1 1 auto;
        max-width: 500px;
        border-radius: 20px;

        @media screen and (max-width: 700px) {
            margin: 20px 0 0 0;
        }
    }

    .empty {
        padding: 20px 0;
    }
}


.description-song {
    display: flex;

    .song__image {
        margin: 10px;
        width: 128px;
        height: 128px;
        object-fit: cover;
        border-radius: 10px;
    }
}

.mini-player {
    margin: 10px;
    flex-grow: 1;

    .button, .mini-volume__img {
        cursor: pointer;
    }

    .song__name {
        font-size: 18px;

        @media screen and (max-width: 740px) {
            font-size: 16px;
        }
    }
    .performer-name {
        margin: 10px 0 0 0;
        font-size: 18px;

        @media screen  and (max-width: 740px) {
            font-size: 16px;
        }
    }

    .add-wrapper {
        display: flex;
        margin-top: 10px;
        align-items: center;
    }

    .mini-img__src {
        height: 24px;
    }

    .mini-progress__container {
        margin: -5px 0 0 6px;
        background-color: #E4E9ED;
        border-radius: 5px;
        width: 100%;
        height: 10px;
        display: flex;
        align-items: center;
        cursor: pointer;
        position: relative;

        .mini-progress {
            background-color: #2B3C5B;
            border-radius: 5px;
            height: 6px;
            // width: 160px;
        }

        .mini-start-time {
            font-size: 16px;
            position: absolute;
            top: 15px;
            cursor: default;
        }
        .mini-end-time {
            font-size: 16px;
            position: absolute;
            right: 0;
            top: 15px;
            cursor: default;
        }
    }

    .mini-volume__container {
        display: flex;
        align-items: center;
        margin: 5px 0 0 -1px;

        .mini-volume {
            cursor: pointer;
            -webkit-appearance: none;
            -moz-appearance: none;
            appearance: none;
            background: #E4E9ED;
            height: 10px;
            border-radius: 5px;

            &__img {
                height: 32px;
            }
        }
    
        .mini-volume::-webkit-slider-thumb {
            -webkit-appearance: none;
            -moz-appearance: none;
            appearance: none;
            width: 12px;
            height: 12px;
            background-color: #2B3C5B;
            border-radius: 6px;
            border: 1px solid #1c2847;
            cursor: pointer;
        }
    }
}

.description-text {
    font-size: 18px;
    margin: 10px;
    max-height: 80px;
    overflow-y: scroll;

    @media screen and (max-width: 900px) {
        font-size: 16px;
        line-height: 18px;
    }

    /** Стилизация ползунка здесь */
    
    &::-webkit-scrollbar {
        width: 14px;
        height: 8px;
        background-color: #E4E9ED;
        border-radius: 10px;
    }

    &::-webkit-scrollbar-thumb {
        cursor: pointer;
        background-color: #272727;
        border-radius: 9em;
        margin: 4px;
        box-shadow: inset 1px 1px 10px #f3faf7;
    }

    // &::-webkit-scrollbar-thumb:hover {
    //     background-color: #253861;
    // }
}

.button__wrapper {
    @media screen and (max-width: 560px) {
        display: flex;
        justify-content: center;
        margin: 20px;
    }
}

.next-button {
    margin: 6px 0 0 100px;
    color: white;
    cursor: pointer;
    border-radius: 20px;
    background-color: red;
    border: none;

    @media screen and (max-width: 1040px) {
        margin: 6px 0 0 20px;
    }

    @media screen and (max-width: 700px) {
        margin: 0 auto;
    }
}

.right {
    background-color: green;
}

.footer {
    background-color: rgba($color: white, $alpha: 0.4);
    flex: 0 0 auto;

    .container {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;

        @media screen and (max-width: 419px) {
            justify-content: space-between;
            margin: 0 15px;
        }
    }

    .github__wrapper {
        img {
            transition: filter 0.2s linear;
            filter: brightness(2) grayscale(1) opacity(0.5);
            transition: 0.3s;

            &:hover {
                filter: none;
                transform: scale(1.1);
            }

            @media screen and (max-width: 639px) {
                width: 48px;
            }
        }
    }

    .year {
        font-size: 28px;
        color: white;

        @media screen and (max-width: 639px) {
            font-size: 24px;
        }
    }

    .rsschool {
        width: 100px;

        @media screen and (max-width: 639px) {
            width: 80px;
        }

        img {
            transition: filter 0.2s linear;
            filter: brightness(2) grayscale(1) opacity(0.5);
            transition: 0.3s;

            &:hover {
                filter: none;
                transform: scale(1.1);
            }
        }
    }
}